<h1>New addition</h1>

<form action="/wizard_add">
  <label for="alice">Add this:</label>
  <input id="alice" type="text" name="first_num">
  <label for="bob">to this:</label>
  <input id="bob" type="text" name="second_num">
  
  <button>Add!</button>

</form>
