<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="elise">Multiply this:</label>
  <input id="elise" type="text" name="first_num">
  <label for="frank">by this:</label>
  <input id="frank" type="text" name="second_num">
  
  <button>Multiply!</button>

</form>
