<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="cindy">Subtract this:</label>
  <input id="cindy" type="text" name="first_num">
  <label for="dave">from this:</label>
  <input id="dave" type="text" name="second_num">
  
  <button>Subtract!</button>

</form>
